A:link{color:#FFFF00; font-size:12pt; text-decoration:none}
A:visited{color:#FFFF00; font-size:12pt; text-decoration:none}
A:hover{color:red; font-size:12pt; text-decoration:underline}
A:active{color:red; font-size:12pt; text-decoration:underline}
